.navigation-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;

  a {
    text-decoration: none;
    color: #ffd369;
    font-size: 25px;
    font-weight: bold;
  }

  .dashboard,
  .calender {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border-radius: 25px 0 0 25px;
    transition: all 0.3s ease-in-out;
  }

  .dashboard:hover,
  .calender:hover {
    background: #ffd369;
    color: #222831;
  }

  .active {
    background: #ffd369;
    color: #222831;
  }
}
